.col-md-3{
    text-align: center;
}

.col-md-3 img{
    width: 100%;
    cursor: pointer;
}

.col-md-3 .proj, .col-md-3 .projDeactivate{
    height: 148px;
    cursor: pointer;
}

.col-md-3 .proj img{
    display: block;
}

.col-md-3 .projDeactivate{
    border: 1px solid gray;
}

.col-md-3 .projDeactivate img{
    display: none;
}

.col-md-3 i{
    padding-top: 20px;
    font-size: 50px
}