#Redirect{
    position: fixed;
    top: 85vh;
    left: 85%;
  }

  #Redirect i{
    font-size: 30px;
    border: 1px solid gray;
    background-color: black;
    padding: 5px 10px 5px 10px;
    color: white;
  }